@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background: black;
    text-align: center;
    color:#fff;
    padding-top: 10vh;
    overflow-x: hidden;
}

h1 a{
    font-size: 2.75rem;
    font-weight: 2000;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: #fff;
}

img {
    width: 25vw;
}

.uc {
    width: 40vw;
}

.container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}




.bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    z-index: -10;
    background: linear-gradient(to bottom, #000000 0%, #231e48 200%);
}



@media (max-width: 768px) {
     * {
        overflow-x: hidden;
    }
    
    h1 a{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-decoration: none;
        color: #fff;
        margin-bottom: 1em;
    }

    .container {
        width: 100%; 
    }
    
    img {
        width: 50vw;
    }

    .uc {
        width: 80vw;
    }
}

footer {
    background-color: transparent;
    opacity: 0.75;
    overflow: hidden;
    padding: 15px;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: white;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 8px;
    background: linear-gradient(to bottom, #0f0627 0%, #3c318f 200%);
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: background-color 0.3s; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body::-webkit-scrollbar-track {
    background: transparent;
}

.small {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.big {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20rem;
    animation-name: stretch;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        opacity: 0.2;
        background-color: green;
        border-radius: 100%;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: red;
    }
}
